In [1]:
DATA_DIR = '' # input('Enter file path for data files: ')

In [2]:
# Import Libraries
import random
import numpy as np
import pandas as pd

##### **Data Section 3 - GAMES**

In [3]:
# Create Games dataframes:
MStats = pd.read_csv(DATA_DIR + 'MTeamStats.csv')
#WStats = pd.read_csv(DATA_DIR + 'WTeamStats.csv')

In [4]:
# Show sample output
print('Mens:', MStats.shape)#, 'Womens:', WStats.shape)
print('Mens:', MStats.columns)
MStats.head(3)

Mens: (4920, 45)
Mens: Index(['Season', 'TeamID', 'NCAA', 'MOV', 'Games', 'SOS', 'OSRS', 'DSRS',
       'SRS', 'WinPCT', 'ConfPCT', 'WScore', 'WTSPCT', 'WeFGPCT', 'WFGPCT',
       'WFG3PCT', 'WFG3Ar', 'WFTPCT', 'WFTr', 'WPace', 'WMins', 'WORB', 'WTRB',
       'WTOV', 'WSTL', 'WAST', 'WBLK', 'WPF', 'LScore', 'LTSPCT', 'LeFGPCT',
       'LFGPCT', 'LFG3PCT', 'LFG3Ar', 'LFTPCT', 'LFTr', 'LPace', 'LMins',
       'LORB', 'LTRB', 'LTOV', 'LSTL', 'LAST', 'LBLK', 'LPF'],
      dtype='object')

,Season,TeamID,NCAA,MOV,Games,SOS,OSRS,DSRS,SRS,WinPCT,...,LFTr,LPace,LMins,LORB,LTRB,LTOV,LSTL,LAST,LBLK,LPF
0,2010,1102,0,-5.94,31,3.13,-12.35,7.45,-4.90,0.322581,...,0.400,59.6,40.0,8.9,31.2,11.8,5.81,12.8,2.81,16.7
1,2010,1103,0,5.11,35,-1.50,1.58,1.24,2.82,0.685714,...,0.405,65.9,40.9,11.5,33.9,14.2,6.83,10.8,2.51,19.1
2,2010,1104,0,3.72,32,6.62,2.35,7.99,10.34,0.531250,...,0.365,65.7,40.0,12.0,34.4,13.9,5.81,11.2,4.09,16.7

In [5]:
# Split 'Stats' dataframe (for subsequent build and matchups):

split_win = MStats.loc[:, ['Season', 'TeamID', 'NCAA', 'WinPCT', 'ConfPCT', 'WScore', 'LScore', 'MOV', 'SOS', 'OSRS', 'DSRS', 
                           'SRS', 'WTSPCT', 'WeFGPCT', 'WFGPCT', 'WFG3PCT', 'WFG3Ar', 'WFTPCT', 'WFTr', 'WORB', 'WTRB', 
                           'WAST', 'WTOV', 'WSTL', 'WBLK', 'WPF']].copy()
split_win['WIN'] = 1

split_loss = MStats.loc[:, ['Season', 'TeamID', 'NCAA', 'WinPCT', 'ConfPCT', 'WScore', 'LScore', 'MOV', 'SOS', 'OSRS', 'DSRS', 
                           'SRS', 'LTSPCT', 'LeFGPCT', 'LFGPCT', 'LFG3PCT', 'LFG3Ar', 'LFTPCT', 'LFTr', 'LORB', 'LTRB', 
                           'LAST', 'LTOV', 'LSTL', 'LBLK', 'LPF']].copy()
split_loss['WIN'] = 0

# Rename columns to prepare for concatenate dataframes
rename_win = {'WTSPCT':'TSPCT', 'WeFGPCT':'eFGPCT', 'WFGPCT':'FGPCT', 'WFG3PCT':'FG3PCT', 'WFG3Ar':'FG3Ar', 'WFTPCT':'FTPCT', 
              'WFTr':'FTr', 'WORB':'OR', 'WTRB':'TRB', 'WAST':'AST', 'WTOV':'TOV', 'WSTL':'STL', 'WBLK':'BLK', 'WPF':'PF'}

rename_loss = {'LTSPCT':'TSPCT', 'LeFGPCT':'eFGPCT', 'LFGPCT':'FGPCT', 'LFG3PCT':'FG3PCT', 'LFG3Ar':'FG3Ar', 'LFTPCT':'FTPCT', 
              'LFTr':'FTr', 'LORB':'OR', 'LTRB':'TRB', 'LAST':'AST', 'LTOV':'TOV', 'LSTL':'STL', 'LBLK':'BLK', 'LPF':'PF'}

split_win = split_win.rename(columns=rename_win)
split_loss = split_loss.rename(columns=rename_loss)

# Concatenate the two dataframes
MStats_df = pd.concat([split_win, split_loss])
MStats_df = MStats_df.sort_values(by=['Season', 'TeamID'])
# Show sample output
print('Mens:', MStats_df.shape)#, 'Womens:', WStats_df.shape)
print('Mens:', MStats_df.columns)
MStats_df.head(3)

Mens: (9840, 27)
Mens: Index(['Season', 'TeamID', 'NCAA', 'WinPCT', 'ConfPCT', 'WScore', 'LScore',
       'MOV', 'SOS', 'OSRS', 'DSRS', 'SRS', 'TSPCT', 'eFGPCT', 'FGPCT',
       'FG3PCT', 'FG3Ar', 'FTPCT', 'FTr', 'OR', 'TRB', 'AST', 'TOV', 'STL',
       'BLK', 'PF', 'WIN'],
      dtype='object')

,Season,TeamID,NCAA,WinPCT,ConfPCT,WScore,LScore,MOV,SOS,OSRS,...,FTPCT,FTr,OR,TRB,AST,TOV,STL,BLK,PF,WIN
0,2010,1102,0,0.322581,0.0625,57.2,63.1,-5.94,3.13,-12.35,...,0.635,0.367,7.1,27.5,12.5,12.7,5.00,1.65,17.6,1
0,2010,1102,0,0.322581,0.0625,57.2,63.1,-5.94,3.13,-12.35,...,0.681,0.400,8.9,31.2,12.8,11.8,5.81,2.81,16.7,0
1,2010,1103,0,0.685714,0.7500,70.6,65.5,5.11,-1.50,1.58,...,0.657,0.363,13.3,36.3,13.5,13.3,6.09,3.26,19.5,1

In [6]:
print('Missing Values:', MStats_df.isna().sum().sum())
#print('Missing Values:', WFavorites8_df.isna().sum().sum())

Missing Values: 532

In [7]:
# Impute missing values with mean based on TeamID over all seasons

# Group the DataFrame by the specific ID column to get mean
mean_id = MStats_df.groupby(['TeamID']).mean()

# Fill missing values with the mean value of each group
for col in mean_id.columns:
    MStats_df[col] = MStats_df[col].fillna(MStats_df[['TeamID']].merge(mean_id, on=['TeamID'], how='left')[col])




# Group the DataFrame by the specific ID column(s)
#MStats_df = MStats_df.groupby(['TeamID'])

# Calculate the mean of each group and fill missing values with it
#MStats_df = MStats_df.transform(lambda x: x.fillna(x.mean()))

In [8]:
print(MStats_df.isna().sum().sum())

0

In [9]:
# Add random factor for luck
MStats_df['Luck'] = [random.uniform(0, 1) for _ in range(len(MStats_df))]

# Create a new column 'SeedProb' based on mapping values to dictionary
mens_probs = {0:0.0001, 1: 0.864, 2: 0.779, 3: 0.685, 4: 0.635, 5: 0.539, 6: 0.535, 
              7: 0.444, 8: 0.443, 9: 0.355, 10: 0.352, 11: 0.207, 12: 0.188, 
              13: 0.145, 14: 0.086, 15: 0.033, 16: 0.011}

womens_probs = {0:0.0001, 1: 0.870, 2: 0.798, 3: 0.705, 4: 0.645, 5: 0.541, 6: 0.540, 
                7: 0.448, 8: 0.449, 9: 0.365, 10: 0.346, 11: 0.191, 12: 0.214, 
                13: 0.151, 14: 0.074, 15: 0.032, 16: 0.007}

# Create a new column 'SeedProb' based on calculation for total win percentage
MStats_df['SeedProb'] = MStats_df['NCAA'].map(mens_probs)
MStats_df['TPCT'] = (MStats_df['WinPCT'] + MStats_df['ConfPCT'] + MStats_df['SeedProb']) / 3

# Create a new column 'DR' based on calculation for defensive rebounds
MStats_df['DR'] = (MStats_df['TRB'] - MStats_df['OR'])

# Drop unnecessary column
MStats2_df = MStats_df.drop(columns=['NCAA', 'WinPCT', 'ConfPCT', 'SeedProb', 'TRB'])

# Reorder columns from merged dataframe
order = [0, 1, 24, 23, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 25, 17, 18, 19, 20, 21, 22]
MStats2_df = MStats2_df.iloc[:,order]

# Show sample output
print('Mens:', MStats2_df.shape)#, 'Womens:', womens_dropped.shape)
MStats2_df.head(3)

Mens: (9840, 26)

,Season,TeamID,TPCT,Luck,WScore,LScore,MOV,SOS,OSRS,DSRS,...,FTPCT,FTr,OR,DR,AST,TOV,STL,BLK,PF,WIN
0,2010,1102,0.128394,0.869297,57.2,63.1,-5.94,3.13,-12.35,7.45,...,0.635,0.367,7.1,20.4,12.5,12.7,5.00,1.65,17.6,1
0,2010,1102,0.128394,0.884494,57.2,63.1,-5.94,3.13,-12.35,7.45,...,0.681,0.400,8.9,22.3,12.8,11.8,5.81,2.81,16.7,0
1,2010,1103,0.478605,0.693952,70.6,65.5,5.11,-1.50,1.58,1.24,...,0.657,0.363,13.3,23.0,13.5,13.3,6.09,3.26,19.5,1

In [10]:
# Normalize selected columns using min-max range
def normalize_minmax(column):
    """
    Normalize a column to a min-max range.
    """
    min_val = min(column)
    max_val = max(column)
    normalized_col = [(x - min_val) / (max_val - min_val) for x in column]
    return normalized_col

# Select the columns you want to normalize
selected_cols = ['OR', 'DR', 'AST', 'TOV', 'STL', 'BLK', 'PF']

# Normalize the selected columns in your dataframe
for col in selected_cols:
    MStats2_df[col] = normalize_minmax(MStats2_df[col])

# Show sample output
print('Mens:', MStats2_df.shape)#, 'Womens:', womens_dropped.shape)
MStats2_df.head(3)

Mens: (9840, 26)

,Season,TeamID,TPCT,Luck,WScore,LScore,MOV,SOS,OSRS,DSRS,...,FTPCT,FTr,OR,DR,AST,TOV,STL,BLK,PF,WIN
0,2010,1102,0.128394,0.869297,57.2,63.1,-5.94,3.13,-12.35,7.45,...,0.635,0.367,0.209302,0.269190,0.350839,0.394146,0.240363,0.089122,0.459854,1
0,2010,1102,0.128394,0.884494,57.2,63.1,-5.94,3.13,-12.35,7.45,...,0.681,0.400,0.348837,0.369085,0.372721,0.332880,0.332200,0.241153,0.394161,0
1,2010,1103,0.478605,0.693952,70.6,65.5,5.11,-1.50,1.58,1.24,...,0.657,0.363,0.689922,0.405889,0.423778,0.434990,0.363946,0.300131,0.598540,1

In [11]:
# Standardize selected columns using standard scaler
def standardize_scaler(column):
    """
    Standardize a column using standard scaler.
    """
    mean_val = sum(column) / len(column)
    std_val = (sum([(x - mean_val)**2 for x in column]) / (len(column)-1))**0.5
    standardized_col = [(x - mean_val) / std_val for x in column]
    return standardized_col

# Select the columns you want to standardize
selected_cols = ['WScore', 'LScore', 'MOV', 'SOS', 'OSRS', 'DSRS', 'SRS', 'TSPCT']

# Standardize the selected columns in your dataframe
for col in selected_cols:
    MStats2_df[col] = standardize_scaler(MStats2_df[col])
    
# Show sample output
print('Mens:', MStats2_df.shape)#, 'Womens:', womens_dropped.shape)
MStats2_df.head(3)

Mens: (9840, 26)

,Season,TeamID,TPCT,Luck,WScore,LScore,MOV,SOS,OSRS,DSRS,...,FTPCT,FTr,OR,DR,AST,TOV,STL,BLK,PF,WIN
0,2010,1102,0.128394,0.869297,-2.379929,-1.232020,-1.109195,0.611767,-1.868281,1.214245,...,0.635,0.367,0.209302,0.269190,0.350839,0.394146,0.240363,0.089122,0.459854,1
0,2010,1102,0.128394,0.884494,-2.379929,-1.232020,-1.109195,0.611767,-1.868281,1.214245,...,0.681,0.400,0.348837,0.369085,0.372721,0.332880,0.332200,0.241153,0.394161,0
1,2010,1103,0.478605,0.693952,-0.008297,-0.783108,0.660524,-0.221906,0.292154,0.241427,...,0.657,0.363,0.689922,0.405889,0.423778,0.434990,0.363946,0.300131,0.598540,1

In [12]:
stats_mens = MStats2_df.to_csv('stats-mens.csv',index=False)
#games_womens = womens_dropped.to_csv('games-womens.csv',index=False)